/* Global styles */
h1, h2, h3, h4, h5, h6, p {
  font-family: Helvetica, Arial, sans-serif;
}
ul {
  padding-left: 1em!important;
  padding-right: 1em!important;
}
img {
  max-width: 100%;
  height: auto;
}
/* utility classes */
.is-flex {
  display: flex;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.3rem;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}


/* component specific */
.recipe-card {
  max-width: 500px;
  border-radius: 14px;
  box-shadow: 0 3px 16px #0000003b;
  overflow: hidden;
  box-sizing: border-box;
}
.recipe-card .img-wrap {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.recipe-card .text {
  padding: 1.5em;
}
